 {{!-- <h1 class="websiteTitle">
     <i class="fas fa-hat-wizard"></i> 
</h1> --}}

<section>

    <form class="new-question-form">
        {{!-- <div>
            <label for="question-title">Title</label>
            <input type="text" id="question-title" name="question-title" />
        </div> --}}
        <div>
            <label class="ask ask-question" for="question-content">ask your question:</label>
            <textarea id="question-content" name="question-content"></textarea> 
        </div>
        <button type="submit" class="button ask_btn"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-question" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg></span></button>
    </form>
</section>

{{#if questions.length}}
<section>
    <h2 class="subtitle is-4">Your Questions</h2>
    <ol>
        {{#each questions as |question|}}
        <li>
            {{> question-info question}} 
            <a href="/dashboard/edit/{{question.id}}" class="edit-link">Edit question</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src="/javascript/add-question.js"></script>
