<section>
    <h2>Ask a Question!</h2>

    <form class="new-post-form">
        {{!-- <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div> --}}
        <div>
            <label for="post-content">Your Question:</label>
            <textarea id="post-content" name="post-content"></textarea> 
        </div>
        <button type="submit" class="btn">Ask Father Time</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2>Your Questions</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post}} 
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
