<section>
    <h2 class="title is-6">Struggling with a problem in your life? Are you in need of guidance? Submit your question to Father Time and receive the sage advice you're seeking!</h2>

    <form class="new-question-form">
        {{!-- <div>
            <label for="question-title">Title</label>
            <input type="text" id="question-title" name="question-title" />
        </div> --}}
        <div>
            <label for="question-content">Your Question:</label>
            <textarea id="question-content" name="question-content"></textarea> 
        </div>
        <button type="submit" class="btn">Ask Father Time</button>
    </form>
</section>

{{#if questions.length}}
<section>
    <h2>Your Questions</h2>
    <ol>
        {{#each questions as |question|}}
        <li>
            {{> question-info question}} 
            <a href="/dashboard/edit/{{question.id}}" class="edit-link">Edit question</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}
<script src="/javascript/add-question.js"></script>
