<h1>{{title}}</h1>

<section>
    <h2>Resources</h2>
    <h3>Start where you are. Use what you have. Do what you can. – Arthur Ashe</h3>
    <a href="https://www.mentalhealth.gov/get-help/immediate-help" target="_blank">Immediate Help From mentalhealth.gov</a>
    <a href="https://news.yahoo.com/covid-19-mental-health-support-151839149.html" target="_blank">Covid-19 Mental Health Support</a>
    <a href="https://www.nami.org/Support-Education/Publications-Reports/Guides/Navigating-a-Mental-Health-Crisis" target="_blank">National Alliance on Mental Illness</a>
    <a href="https://www.supportgroups.com/" target="_blank">Online Support Groups</a>
    <a href="https://adaa.org/adaa-online-support-group" target="_blank">Anxiety and Depression Association of America</a>
    <a href="https://www.dailystrength.org/group/anxiety" target="_blank">Anxiety Support Group</a>
    <a href="https://www.psychguides.com/guides/mental-health-hotline/#:~:text=Substance%20Abuse%20and%20Mental%20Health%20Services%20Administration%20%28SAMHSA%29%3A,help%20you%20find%20suitable%20behavioral%20health%20treatment%20programs." target="_blank">24 Hour Mental Health Hotline</a>
</section>

<section>
    <h2>Father Time's Picks for Encouragement</h2>
    <h3>Books</h3>
    <a href="https://www.amazon.com/dp/0452289963/?tag=mh0b-20&hvadid=3527881354&hvqmt=e&hvbmt=be&hvdev=c&ref=pd_sl_qnywclvqu_e" target="_blank">A New Earth by Eckhart Tolle</a>
    <a href="https://www.amazon.com/First-We-Make-Beast-Beautiful/dp/0062836781" target="_blank">First We Make the Beast Beautiful by Sarah Wilson</a>
    
    <h3>Podcasts</h3>
    <a href="https://www.ttfa.org/" target="_blank">Terrible! Thanks for Asking</a>
    <a href="https://onbeing.org/series/podcast/" target="_blank">On Being</a>
    <a href="https://www.hilariousworld.org/" target="_blank">The Hilarious World of Depression</a>
    <a href="" target="_blank"></a>
    <a href="" target="_blank"></a>
</section>