{{> question-info question }}
{{#if loggedIn}}
{{#if 'admin'}}
<form class="answer-form">
    <div>
        <textarea name="answer-body"></textarea>
    </div>


    <div>
        <button type="submit">add answer</button>
        {{!-- <button type="button" class="upvote-btn">upvote</button> --}}
    </div>
{{/if}}
</form>
{{/if}}

{{> answers question.answers}}

{{#if loggedIn}}
<script src="/javascript/answer.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}

