body { 
    background-color: white;

}
main {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    justify-content: center;
    width: 100%;
    border-bottom: 1px solid black;
}


article {
    font-size: 3em;
    height: 75%;
    line-height: 1;
    width: 100%;
}

footer {
    width: 100%
}

button#reload  {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px;
    font-family: "Times New Roman", "Times", serif;
    font-weight: 500;
    font-size: 1em;
}

#chatroom {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 20px;
    font-family: "Times New Roman", "Times", serif;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
}