* {
  box-sizing: border-box;
}

:root {
  --primary-color: #333;
--secondary-color: #e6ffe6;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: #38302e;
  --border-radius: .3rem;
}

body, html {
  background-image: url("../img/crystalball4.jpg");
  background-size: cover;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-right: 1rem;
  transition: color .1s;
}

.sign-up {
  margin-left: 2rem;
  font-style: bold;
  color: black;
  opacity: .75;
}

.account {
  color: black;
  font-style: bold;
}

.loginaccount {
  margin-top: 2rem;
  color: black;
  font-style: bold;
}

a:hover {
  color: #3486eb; 
} 

button:hover {
  background-color: #3486eb;
}
  
.websiteTitle {
  padding: 2rem;
  text-align: center;
  color: #C8DEF2;
  opacity: .2;
  font-size: 7rem;
  margin-bottom: 2rem;
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
  }

main {
  flex: 1;
  padding: 2% 4%;
  opacity: 100%
}

.login_btn, .signup_btn {
  color: black;
  background-color: white;
  width: 100%;
  opacity: .7;
}
  
.login_btn:hover{
color: black;
background-color: rgb(102, 122, 255, 0.5);
}

  /* CARDS */

.card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgb(200, 222, 242, .2) !important;
}

.login-card {
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgb(200, 222, 242, .2) !important;
}

.card-header h3 {
  color: #C8DEF2;
  text-align: center;
  opacity: .8;
  font-style: italic;
  font-style: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


 